.app {
  height: 100vh;
  overflow: auto;
}


.content {
  flex: 1;
  padding: 20px;
}

.page-cover {
  height: 100vh;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
.scrollable-content {
  max-height: 1000px;
  overflow-y: auto; 
}

.dark-theme {
  background-color: #222;
  color: white;
}

.form-wrapper {
  border: 1px solid #757575;
  padding: 2px;
  margin: 2px;
}
